@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.App {
  text-align: center;
}

.App-logo {
  align-self: center;
  height: 40vmax;
  pointer-events: none;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 51px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  width: 90%;
  text-align: center;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #161616 !important;
  border-radius: 20px !important;
}

.card-header-title {
  color: #faa500 !important;
  justify-content: space-evenly !important;
}

.button {
  color: #faa500;
  border-radius: 15px;
  /* background-color: #faa500; */
}

.upload-button {
  margin: 0.5rem;
  align-content: center !important;
}

.App-link {
  color: #61dafb;
}
