.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #444444;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  margin-top: 15%;
  margin-left: 35%;
  margin-right: 35%;
  background-color: #4f4f4f !important;
  border-radius: 20px !important;
}

.card-header-title{
 color: #ececec !important;
}

.button{
  border-radius: 15px !important;
  background-color:#da5518 !important;
  border-color: #00000000 !important;
}

.upload-button{
  margin: 0.5rem;
  align-content: center !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
